* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.content {
  min-height: 80vh;
}

.content h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 90px;
}

.content h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 256px;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25%;
  padding-right: 25%;
}

.about-container img {
  height: 256px;
}

.about-container p {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
