.faq-container {
  border-top: 1px solid #d9d9d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.faq h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.letter {
  font-size: 18px;
  font-weight: bold;
}

.a {
  margin-bottom: 30px;
}

.other-questions {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
