* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.content {
  min-height: 80vh;
}

.link {
  text-decoration: none;
  color: #240747;
  font-weight: bold;
}

.link:hover {
  border-bottom: #f1ac8d solid 2px;
}

.button {
  text-decoration: none;
  color: #240747;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #240747;
  border-radius: 10px;
}

.button:hover {
  color: white;
  background-color: #240747;
  border-color: #240747;
}
