nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d6;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  margin-right: 3vw;
  font-size: 20px;
  text-decoration: none;
  color: #f1ac8d;
}

.nav-links .active {
  color: #240747;
}

nav img {
  height: 8vh;
  padding: 2vw;
}
