nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d6;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  margin-right: 3vw;
  font-size: 20px;
  text-decoration: none;
  color: #240747;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f1ac8d;
}

nav img {
  width: auto;
  height: 50px;
  padding: 2vw;
}
