.news {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #f1ac8d;
}

.news h2 {
  text-align: center;
}

.news-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news-articles .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.news-articles .article h3 {
  text-align: center;
  padding: 20px;
}

.news-articles .article p {
  max-width: 60%;
}

.news-articles .article img {
  max-width: 60%;
}

@media only screen and (max-width: 1000px) {
  .news-articles {
    flex-direction: column;
  }

  .news-articles .article {
    width: 100%;
    padding: 20px 0;
  }

  .news h2 {
    padding-top: 30px;
  }

  .news {
    height: auto;
  }
}
